/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  touch-action: pan-y; /* Prevent horizontal scrolling */
}

/* Define the Bold version of Agency FB */
@font-face {
  font-family: 'AgencyFB';
  src: url('/src/assets/fonts/AGENCYB.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Define the Regular version of Agency FB */
@font-face {
  font-family: 'AgencyFB';
  src: url('/src/assets/fonts/AGENCYR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/src/assets/fonts/GOTHICB.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/src/assets/fonts/GOTHIC.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Tailwind utility classes for Fonts */
.font-agency-bold {
  font-family: 'AgencyFB', sans-serif;
  font-weight: 700;
}

.font-agency-regular {
  font-family: 'AgencyFB', sans-serif;
  font-weight: 400;
}

.font-century-bold {
  font-family: 'CenturyGothic', sans-serif;
  font-weight: 700;
}

.font-century-regular {
  font-family: 'CenturyGothic', sans-serif;
  font-weight: 400;
}

/* Button animation */
@keyframes breathing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.breathing-effect {
  animation: breathing 4s infinite ease-in-out;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

